/* This is the stylesheet foer all custom styling */

/* #region swiper */

.swiper-container {
    width: 100%;
    height: 100%;
    padding: 20px 50px 60px;
    /* background-image: linear-gradient(-360deg, #fcfdff 3%, #edeef0 100%); */
    background-color: rgba(243, 246, 250, 1);
    position: relative;
    z-index: 5;
}

.swiper-header {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin-top: 40px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 270px;
    box-shadow: 0 4px 10px 0 rgba(29, 45, 78, .15);
    padding: 20px;
}

.swiper-slide h4 {
    font-weight: 400;
}

.swiper-slide p {
    color: #737373;
    font-size: 16px;
}

/* #endregion swiper */

/* #region footer */

.footer {
    background-color: #013463;
    color: #fff;
    padding: 20px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;
}

.footer-bottom {
    text-align: center;
}

.footer ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.footer li {
    list-style: none;
    display: inline-block;
}

.footer li a {
    color: #fff;
    display: inline-block;
    padding: 15px;
}

.footer-bottom {
    padding: 20px 0 30px;
    color: rgba(255, 255, 255, 0.3);
}

.footer-brand {
    margin: 10px 0;
}

/* #endregion footer */

.cta-button {
    text-align: center;
    border: 0;
    padding: 20px 30px;
    border-radius: 50px;
    color: #fff;
    margin: 20px auto 0;
    display: inline-block;
    cursor: pointer;
    background-color: #005ec9;
}

.globe {
    height: 500px;
    background-color: #005ec9;
    position: relative;
}

.map {
    opacity: 0.3;
    padding: 50px 0;
}

.map img {
    width: 100%;
    max-height: 400px;
    display: block;
    margin: 0 auto;
}

.globe-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.globe-content h2 {
    font-size: 4rem;
    margin: 0;
}

.Nav-mobile .Nav-logo img {
    height: 40px;
    max-width: auto;
}

.pricing-header {
    padding: 100px 0 50px;
}

.hide {
    visibility: hidden;
}

/* Features  */

.feature-section {
    background-color: rgba(243, 246, 250, 0.8);
    padding: 50px 0;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.feature-box {
    width: 30%;
    margin-bottom: 50px;
}

.feature-phone-container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.feature-phone-container>div {
    width: 50%;
    padding: 20px;
}

.feature-phone-image {
    max-width: auto;
    height: 500px;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-phone-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.bg-white {
    background-color: #fff;
}

.section-title {
    font-size: 3rem;
    line-height: 1.3;
    margin: 0;
}

.desktop-image {
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

.top-section {
    height: 110vh;
    background-color: #007bff;
    box-sizing: border-box;
    padding: 70px 0;
    position: relative;
}

.top-section::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    background: url(../images/hero-trucks.png);
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
}

.large-image {
    width: 1200px;
    height: 650px;
    z-index: 2;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
}

.feature-section {
    padding: 50px 0 100px;
}

.feature-section h3 {
    font-size: 4rem;
    padding: 0;
    margin: 0 0 50px;
}

.why-us-section {
    padding: 20px 0 50px;
    position: relative;
}

.why-us-section p {
    max-width: 1000px;
    margin: 0 auto 30px;
}

@media (max-width: 500px) {
    .globe {
        height: auto;
    }
    .globe-content {
        width: 100%;
    }
    .globe-content h2 {
        font-size: 2rem;
    }
    .Header-cta.CTA>.CTA-wrapper .CTA-title {
        font-size: 3rem;
    }
    .right-overlay::before, .left-overlay::before {
        display: none;
    }
    .cta-button {
        margin: 0;
    }
    .large-image {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .top-section {
        height: 80vh;
    }
}